package-lock.json
**/__snapshots__/*
/pa11y_screenCapture/*
/public
/partials
/styles
/tmp/
/dist

node_modules

/coverage
/pa11y-screen-capture

*.json
*.sh
.*
*.feature

CODEOWNERS
Makefile
Procfile
