@import 'o-normalise/main';
@import 'o-typography/main';
@import 'o-forms/main';

@include oFormsBaseFeatures();
@include oFormsRadioCheckboxFeatures();
@include oFormsSuffixFeature();
@include oFormsWideFeature();

.o-normalise-visually-hidden {
	@include oNormaliseVisuallyHidden;
}

// Custom styles
.ncf {
	@include oTypographySans($scale: 0);

	&__fieldset {
		padding: 0;
		border: 0;
	}

	&__terms {
		@include oTypographySans($scale: 0);
		color: getColor('black-80');
	}

	&__header {
		@include oTypographyProductHeadingLevel5;
		> * {
			margin-top: 10px;
		}
	}
}



// .su-form {
// 	@include oTypographySans($scale: 0);

// 	> .su-form__fieldset--squash-margin {
// 		margin-bottom: 8px;
// 	}
// }

// .su-form__fieldset {
// 	padding: 0;
// 	margin-bottom: 36px;
// 	border: 0;

// 	> .su-field:not(:first-child) {
// 		margin-top: 20px;

// 		&.billing-country-field {
// 			margin-top: 0;
// 		}
// 	}
// }


