@import 'o-typography/main';
@import 'o-forms/main';

@include oFormsBaseFeatures();
@include oFormsRadioCheckboxFeatures();
@include oFormsSuffixFeature();
@include oFormsWideFeature();

.su-form {
	@include oTypographySans($scale: 0);

	> .su-form__fieldset--squash-margin {
		margin-bottom: 8px;
	}
}

.su-form__fieldset {
	padding: 0;
	margin-bottom: 36px;
	border: 0;

	> .su-field:not(:first-child) {
		margin-top: 20px;

		&.billing-country-field {
			margin-top: 0;
		}
	}
}

.su-form__terms {
	@include oTypographySans($scale: 0);
	color: getColor('black-80');
}
