@mixin ncfLiteSubsConfirmation() {
	&__lite-sub-confirmation {
		&--lite-sub-cta {
			width: 240px;
		}
	}

	&__lite-sub__details {
		@include oGridRespondTo($until: S) {
			display: grid;

			&--description::before {
				content: " ";
			}

			& .ncf__list-data {
				width: 100%;
				margin-top: 0;
				margin-bottom: 0;
			}

			& .ncf__list-title {
				margin-bottom: 0;
			}
		}
		@include oGridRespondTo($from: M) {
			&--description {
				display: block;
			}
		}
	}
}
