@mixin ncfLiteSubsConfirmation() {
	&__lite-sub-confirmation {
		&--lite-sub-cta {
			width: 240px;
		}

		&--hidden-sm {
			@include oGridRespondTo($from: S, $until: M) {
				@include oNormaliseVisuallyHidden;
			}
		}

		&--hidden-md,
		&--hidden-lg {
			@include oGridRespondTo($from: M) {
				@include oNormaliseVisuallyHidden;
			}
		}
	}

	&__lite-sub__details {
		display: inline;

		&--description::before {
			content: " ";
		}

		& .ncf__list-data {
			width: 100%;
			margin-top: 0;
			margin-bottom: 0;
		}

		& .ncf__list-title {
			margin-bottom: 0;
		}
	}
}
