@mixin bigRadioButton($className) {
	// Overrides o-forms styling for round radio buttons
	.o-forms-input--radio-round {
		.o-forms-input__label {
			box-sizing: border-box;
			padding: 14px 20px;
			min-height: 110px;
			border: 2px solid oColorsByName('teal');
			text-align: left;
			width: 100%;

			// radio button styling
			&::before {
				border: 1px solid oColorsByName('teal');
				left: auto;
				top: 43px;
				right: 14px;
			}

			&::after {
				left: auto;
				top: 43px;
				right: 14px;
			}
		}
		.ncf__delivery-option__label {
			background-color: oColorsByName('white');
			color: oColorsByName('black-80');;
		}
		.o-forms-input__address-type__label {
			padding: 2px 2px 2px 35px;
			min-height: 0;
			border: 0;

			// radio button styling
			&::before {
				border: 1px solid oColorsByName('black-80');
				left: 0;
				top: 0;
			}

			&::after {
				left: 0;
				top: 0;
			}
		}
	}

	// Overrides o-forms styling for round radio buttons in the checked state.
	/* stylelint-disable */
	/* prettier-ignore */
	.o-forms-input--radio-round input[type=radio]:checked {
		+ .o-forms-input__label {
			background-color: oColorsByName('teal');
			color: oColorsByName('white');
			position: relative;

			// radio button styling
			&::before {
				border: 1px solid oColorsByName('white');
			}

			&::after {
				background-color: oColorsByName('white');
			}
		}
		+.o-forms-input__address-type__label {
			background-color: oColorsByName('white');
			color: oColorsByName('black-80');
			// radio button styling
			&::before {
				border: 1px solid oColorsByName('teal');
				left: 0;
				top: 0;
			}

			&::after {
				background-color: oColorsByName('teal');
				left: 0;
				top: 0;
			}
		}
	}
	/* stylelint-enable */

	#{$className}__item--discount {
		margin-top: 26px;
	}

	#{$className}__title {
		font-weight: oFontsWeight('semibold');
		@include oTypographySans($scale: 2);
	}

	#{$className}__description {
		padding-top: 14px;
	}
}
