@mixin ncfPackageChange() {
	&__package-change {
		@include oTypographySans($scale: 0);
		padding: 0 20px;

		@include oGridRespondTo($from: S) {
			padding: 0;
		}

		&__package {
			display: grid;
			grid-template-columns: 1fr min-content;
			align-items: center;
		}

		&__content {
			padding: 0.5em 0;

			p {
				margin: 0.5em 0;
			}

			&__subtext {
				@include oTypographySans($scale: -1);
			}
		}
	}
}
